<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
    </settings>

    <plugins>
        <!--<plugin interceptor="com.emirbobo.mybatis.PrintSqlPlugin"/>-->
        <plugin interceptor="com.emirbobo.mybatis.myshard.MyShardingPlugin"/>
    </plugins>

    <!-- alias 
    <typeAliases>
      <typeAlias type="ddshow.model.user.User" alias="userModel" />
      <typeAlias type="ddshow.model.system.Horn" alias="hornModel"/>
    </typeAliases>
     -->
    <!--
	<plugins>
        <plugin interceptor="com.google.code.shardbatis.plugin.ShardPlugin">
                <property name="shardingConfig" value="shard_config.xml"/>
        </plugin>
	</plugins> 
	-->
</configuration>


